{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="/stylesheets/registrarse.css">

{% endblock %}

{% block header %}
  <div class="registrarse-header">
    <h2 class="h2-title" style="text-align:center"> Cambiar contraseña </h2>
  </div>

{% endblock %}


{% block content %}


<div class="container">
  <div class="signup">

    <div class="signup-form">
      <form id="registro" method="POST" action="/perfil_form_password" style="text-align:center">

        <label for="password">Contraseña (requiere nº, minus, mayus, y mínimo de 8 caracteres):</label>
        <input name="password" type="password"  class="form-control" id="password" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br />

        <label for="passwordConfirmation">Confirmar contraseña:</label>
        <input name="passwordConfirmation" type="password"  class="form-control" id="passwordConfirmation" oninput="check(this)" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br/>

        <br />

        <input type="submit" class="btn btn-primary" value="Cambiar contraseña">
        <input type="button" onclick="location.href='/miperfil'" class="btn btn-outline-secondary" value="Cancelar" style="color:black">

        <br />

      </form>
    </div>
  </div>
</div>

  <h2 class="h2-blank"> </h2>

{% endblock %}
{% block footer %}
  <script type='text/javascript'>
    function check(input) {
      if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('Password Must be Matching.');
      } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
      }
    }
  </script>

  <script type="text/javascript">

    $("#profile-pic").click(function(e) {
      $("#upload").click();
    });

  </script>
{% endblock %}