{% extends "layoutNav.njk" %}

{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Formula1 Dabatase</title>
    <link rel="stylesheet" href="/stylesheets/drivers.css">

{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/">Drivers<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/constructors_front">Constructors</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/circuits_front">Circuits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/races_front">Races</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/qualifying_front">Qualifying</a>
    </li>

{% endblock %}

{% block content %}

  {% for circuits in data %}
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <h2 class="modal-title">{{ circuits.name }}</h2>
          </div>
        <div class="modal-body">
          <dl>
            <dt>Id: {{circuits.circuitId}}</dt>
            <dt>Circuit Ref: {{circuits.circuitRef}}</dt>
            <dt>Name: {{circuits.name}}</dt>
            <dt>Location: {{circuits.location}}</dt>
            <dt>Country: {{circuits.country}}</dt>
              {% if conditional == true %}
              <dt>Temperatura actual: {{ temperatura }}</dt>
                  <dt>temp max: {{ max_min.max }}</dt>
                  <dt>temp min: {{ max_min.min }}</dt>
              {% endif %}
          </dl>
        </div>
    </div>
  {% endfor %}

{% endblock %}

{% block footer %}

{% endblock %}
