{% extends "layoutNav.njk" %}

{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Formula1 Dabatase</title>
    <link rel="stylesheet" href="/stylesheets/drivers.css">

{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="#">Drivers<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/constructors">Constructors</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/circuits">Circuits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/races">Races</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/qualifying">Qualifying</a>
    </li>

{% endblock %}

{% block content %}

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Search Drivers</h2>
            </div>
            <form method="POST" action="/get_drivers_front" id="get-driver">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id-input" class="form-label">Id</label>
                        <input type="int" class="form-control" name="id" id="id-input" /><br>
                        <input type="hidden" name="formInstance" value="get" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="action" value="Get Driver" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Driver</h2>
            </div>
            <form method="POST" action="get_drivers_front" id="post-driver">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id-input" class="form-label">Id</label>
                        <input type="int" class="form-control" name="id" id="id-input" /><br>
                        <label for="driverRef-input" class="form-label">Driver Ref</label>
                        <input type="string" class="form-control" name="driverRef" id="driverRef-input" /><br>
                        <label for="number-input" class="form-label">Number</label>
                        <input type="int" class="form-control" name="number" id="number-input" /><br>
                        <label for="code-input" class="form-label">Code</label>
                        <input type="string" class="form-control" name="code" id="code-input" /><br>
                        <label for="forename-input" class="form-label">Forename</label>
                        <input type="string" class="form-control" name="forename" id="forename-input" /><br>
                        <label for="surname-input" class="form-label">Surname</label>
                        <input type="string" class="form-control" name="surname" id="surname-input" /><br>
                        <label for="dob-input" class="form-label">Dob</label>
                        <input type="int" class="form-control" name="dob" id="dob-input" /><br>
                        <label for=nationality-input" class="form-label">Nationality</label>
                        <input type="string" class="form-control" name="nationality" id="nationality-input" /><br>
                        <input type="hidden" name="formInstance" value="post" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="action" value="Add Driver" class="btn btn-primary"/> 
                </div>
            </form>
        </div>
    </div>

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Update Driver</h2>
            </div>
            <form method="POST" action="/index" id="post-driver">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id-input" class="form-label">Id</label>
                        <input type="int" class="form-control" name="id" id="id-input" /><br>
                        <label for="driverRef-input" class="form-label">Driver Ref</label>
                        <input type="string" class="form-control" name="driverRef" id="driverRef-input" /><br>
                        <label for="number-input" class="form-label">Number</label>
                        <input type="int" class="form-control" name="number" id="number-input" /><br>
                        <label for="code-input" class="form-label">Code</label>
                        <input type="string" class="form-control" name="code" id="code-input" /><br>
                        <label for="forename-input" class="form-label">Forename</label>
                        <input type="string" class="form-control" name="forename" id="forename-input" /><br>
                        <label for="surname-input" class="form-label">Surname</label>
                        <input type="string" class="form-control" name="surname" id="surname-input" /><br>
                        <label for="dob-input" class="form-label">Dob</label>
                        <input type="int" class="form-control" name="dob" id="dob-input" /><br>
                        <label for=nationality-input" class="form-label">Nationality</label>
                        <input type="string" class="form-control" name="nationality" id="nationality-input" /><br>
                        <input type="hidden" name="formInstance" value="update" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" name="action" value="Update Driver" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
