.h2-title{
    padding: 1%;
    text-align:center;
}

.container{
    padding: 1%;
    background: #F6F3EB;
    min-height: 550px;
    /* el valor bueno es 500*/
}

.incidencia-form {
    text-align:center;
}

.btn-primary {
    float: left;
    margin: 4px;
}
.btn-danger{
    float: right;
    margin: 4px;
}

.btn {
    bottom: 0;
}
.datalabel{
    font-size: 20px;
    color: dodgerblue;
    margin: 10px;
}

.textarealabel{
    font-size: 20px;
    margin: 20px;
}

textarea {
    resize: none;
    height: 200px;
    width: 800px;
}