.container {
    width: 80%;
    padding: 1%;
}

.incidencias {
    display: grid;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 3em;
    grid-template-areas:
    "info info"
    "info info";
    grid-area: incidencias;
}

.incidencia-body {
    display: grid;
    grid-template-areas:
    "description description"
    "description description";
    grid-area: info;
}

.incidencia-description {
    grid-area: description;
    text-align-all: center;
    font-size: 20px;

}

.btn{
    float: right;
    margin: 5px;
}